<h1 class="text-center">ユーザー一覧</h1>
<table class="table table-bordered table-striped mt-4">
  <thead class="table-primary">
    <tr>
      <th scope="col">No.</th>
      <th scope="col" class="w-100">名前</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each.with_index(1) do |user, i| %>
      <tr>
        <th scope="row" class="text-right"><%= i %></th>
        <td class="break-word"><%= user.name %></td>
        <td class="text-nowrap">
          <%= link_to user, class: "btn btn-primary" do %>
            <i class="far fa-edit"></i> <span class="d-none d-md-inline">詳細</span>
          <% end %>
          <%= link_to edit_user_path(user), class: "btn btn-success" do %>
            <i class="far fa-trash-alt"></i><span class="d-none d-md-inline">編集</span>
          <% end %>
          <%= link_to user, method: :delete, data: {confirm: "削除しますか？" }, class: "btn btn-danger" do %>
            <i class="far fa-trash-alt"></i><span class="d-none d-md-inline">削除</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
